/* You can add global styles to this file, and also import other style files */
//@import '@weather-map-monorepo/shared-ui';

@import '@angular/cdk/overlay-prebuilt.css';

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

a  {
    text-decoration: none;
}

button {
    border: 0;
    outline: none;
    background-color: transparent;
}